/* auditory-training-app/css/main.css */

/* Import Base Styles */
@import url('base/_variables.css');
@import url('base/_base.css');

/* Import Layout Styles */
@import url('layout/_app-shell.css');
@import url('layout/_primary-nav.css');

/* Import Component Styles */
@import url('components/_tabs.css');

/* Add other component imports here as they are created */
/* e.g., @import url('components/_buttons.css'); */
/* e.g., @import url('components/_modals.css'); */

/* Import View Styles */
@import url('views/_sound-design-hub.css');
@import url('views/_basic-additive-synth.css');
@import url('views/_sound-model-bank.css');
@import url('views/_training-hub.css');
@import url('views/_rng-config-basic.css');
@import url('views/_game-screen-basic.css');
@import url('views/_button-designer.css');